@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&family=Quicksand:wght@700&display=swap');

body {
  font-family: 'Quicksand', sans-serif;
  color: black;
}

#root {
  height: 100vh;
}